{% load static %}

<!DOCTYPE html>
<html lang="pt_BR">

<head>
    <title>CAACH - {% block page_title %} {% endblock %}</title>
    
    {% include 'meta.html' %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}">
</head>

<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">
               <span class="spinner-rotate"></span>
          </div>
     </section>

     <!-- HEADER -->
     {% include 'header_menu.html' %}

     <!-- CONTENT RENDER -->
     {% block content %}
     {% endblock %}

     <!-- FOOTER -->
     {% include 'footer.html' %}

     


     <!-- SCRIPTS -->
     <script src="{% static 'js/jquery.js' %}"></script>
     <script src="{% static 'js/bootstrap.min.js' %}"></script>
     <script src="{% static 'js/owl.carousel.min.js' %}"></script>
     <script src="{% static 'js/smoothscroll.js' %}"></script>
     <script src="{% static 'js/custom.js' %}"></script>

</body>

</html>